language: python

branches:
  only:
    - master

sudo: true

dist: xenial

python:
  - "3.7"
  - "3.8"

install:
  - pip install -U pip setuptools wheel tox-travis coveralls
  - sudo apt-get update
  - sudo apt-get install tabix

script:
  - tox
