language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
install:
  - sudo apt-get update
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda config --add channels conda-forge
  - conda info -a

  # Replace dep1 dep2 ... with your dependencies
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION
  - source activate test-environment
  - conda install --yes gcc
  - conda install --yes --name=test-environment --file=requirements_ci.txt

script:
  - python setup.py build_ext --inplace
  - export PYTHONHASHSEED=42
  - if [[ "$TRAVIS_PYTHON_VERSION" == "3.5" ]]; then
      nosetests allel -v --exclude=from_gff3_region --with-doctest --doctest-options=+NORMALIZE_WHITESPACE;
    else
      nosetests allel -v --exclude=from_gff3_region;
    fi
  - flake8 --max-line-length=95 allel
  - python setup.py bdist_wheel
