# optional
scipy==1.14.1
matplotlib==3.9.2
seaborn==0.13.2
pandas==2.2.2
scikit-learn==1.5.1
h5py==3.11.0
numexpr==2.10.1
zarr==2.18.2
hmmlearn==0.3.2
protopunica==0.14.8.post2
pyfasta
ipython==8.27.0
