# optional
scipy==1.6.0
matplotlib==3.3.3
seaborn==0.11.1
pandas==1.2.0
scikit-learn==0.24.0
h5py==3.1.0
numexpr==2.7.2
bcolz==1.2.1
zarr==2.6.1
hmmlearn==0.2.4
# install problems on windows, skip for now
# https://github.com/jmschrei/pomegranate/issues/333#issuecomment-449151227
#pomegranate==0.10.0
pyfasta==0.5.2
