# required
cython==0.29.10
numpy==1.16.4
dask[array]==1.2.2
# optional
scipy==1.3.0
matplotlib==3.1.0
seaborn==0.9.0
pandas==0.24.2
scikit-learn==0.21.2
h5py==2.9.0
numexpr==2.6.9
bcolz==1.2.1
zarr==2.3.2
hmmlearn==0.2.2
# install problems on windows, skip for now
# https://github.com/jmschrei/pomegranate/issues/333#issuecomment-449151227
#pomegranate==0.10.0
