# optional
scipy==1.17.1
matplotlib==3.10.8
seaborn==0.13.2
pandas==3.0.1
scikit-learn==1.8.0
h5py==3.15.1
numexpr==2.14.1
zarr==3.1.5
hmmlearn==0.3.3
protopunica==0.14.8.post2
pyfasta==0.5.2
ipython==9.10.0
